.TheGraph-wrapper {
  .TheGraph-wrapper-content {
    // position: relative;
    .image-background {
      position: relative;
      width: 100%;
      height: 100%;

      .image-background-content {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        .animate {
          animation: fadeInText 1s ease forwards;
        }
        .text {
          font-size: 82px;
          font-weight: 800;
          color: #ffffff;
          text-align: center;

          &.explore-hover {
            opacity: 1;
            transform: translateX(0%);
            background-image: linear-gradient(
              92deg,
              rgb(76, 102, 255) 0%,
              rgb(138, 76, 255) 100%
            );
            background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          &.started-hover {
            opacity: 1;
            transform: translateX(0%);
            background-image: linear-gradient(
              92deg,
              rgb(102, 216, 255) 0%,
              rgb(76, 102, 255) 100%
            );
            background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
        .image-background-group-button {
          display: flex;
          align-items: center;
          justify-content: center;
          .button {
            color: #ffffff;
            width: 146px;
            height: 52px;
            background-color: #ffffff14;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 6px;
            cursor: pointer;
            &.explore {
              margin-right: 20px;
              &:hover {
                background-image: linear-gradient(
                  92deg,
                  #4c66ff 0%,
                  #8a4cff 100%
                );
              }
            }
            &.started {
              &:hover {
                background-image: linear-gradient(
                  92deg,
                  #66d8ff 0%,
                  #4c66ff 100%
                );
              }
            }
          }
        }
      }
    }
  }
  .Describe {
    margin-top: 100px;
    display: flex;
    .item {
      .lable {
        font-size: 32px;
        color: #ffffff;
      }
      .sub-label {
        font-size: 32px;
        color: var(--primary-color);
      }
      .content {
        font-size: 24px;
        color: var(--primary-color);
      }
    }
  }
  .powered-by-subgraphs {
    .powered-by-subgraphs-content {
      .subgraphs-lable {
        color: #ffffff;
      }
      .subgraphs-sub-lable {
        color: var(--primary-color);
        font-size: 24px;
      }
      .Describe {
        display: flex;
        .Describe-items {
          border-right: 1px solid rgba(255, 255, 255, 0.16);
          .describe-lable {
            color: #ffffff;
            font-size: 24px;
          }
          .describe-sub-lable {
            font-weight: 400;
            color: var(--primary-color);
            font-size: 12px;
          }
        }
      }
      .explorer {
        .explorer-wrapper {
          max-width: 150px;
          &:hover {
            .grid-container-explorer {
              transform: scale(1.05);
              background-color: var(--primary-border-color);
            }
            .explorer-footer {
              color: #ffffff;
              .next-icon {
                visibility: visible;
                transition: transform 0.3s ease;
              }
            }
          }
          .explorer-footer {
            margin-top: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            color: var(--primary-color);
            .next-icon {
              margin-left: 4px;
              visibility: hidden;
            }
          }

          .grid-container-explorer {
            display: grid;
            grid-template-columns: repeat(2, 1fr); /* 2 cột bằng nhau */
            grid-gap: 10px;
            border: 1px solid var(--primary-border-color);
            padding: 4px;
            border-radius: 8px;
            padding: 10px;
            transition: transform 0.3s ease;
            cursor: pointer;

            img {
              width: 100%;
              height: auto;
              border-radius: 4px;
              object-fit: cover;
              opacity: 0.88;
            }
          }
        }
      }
    }
  }
  .supported-networks {
    .title {
      color: #ffffff;
      font-size: 24px;
      font-weight: 300;
    }
    .sub-title {
      margin-top: 8px;
      font-size: 24px;
      color: #ffffffa3;
    }
    .view-all-networks {
      color: #ffffffe0;
      font-size: 18px;
      cursor: pointer;
      &:hover {
        .next-icon {
          scale: 1.5;
          transition: transform 0.5s ease, opacity 0.5s ease;
        }
      }
      .next-icon {
        margin-left: 8px;
      }
    }
    .view-all-networks-sub {
      margin-top: 12px;
      color: #ffffff7e;
    }
    .coin-wrapper {
      margin-top: 24px;
      margin-bottom: 24px;
    }
  }
  .Join-the-ecosystem {
    display: flex;
    flex-direction: column;
    align-items: center;
    .lable {
      color: #ffffff;
      font-size: 48px;
    }
    .sub-lable {
      font-size: 48px;
      color: var(--primary-color);
    }
    .text-content {
      text-align: center;
      width: 70%;
      margin-top: 30px;
      margin-bottom: 30px;
      font-size: 32px;
      color: #ffffffa3;
    }
    .ecosystem-item {
      border: 1px solid var(--primary-border-color);
      border-radius: 8px;
      margin-bottom: 12px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      max-width: 320px;
      height: 240px;
      text-align: center;
      &:hover {
        background-color: rgba(255, 255, 255, 0.08);
        .next-icon {
          visibility: inherit;
        }
      }
      .next-icon {
        visibility: hidden;
      }
      cursor: pointer;
      .name {
        color: #ffffff;
        font-size: 20px;
      }
      .sub-name {
        color: #ffffff7a;
        font-size: 15px;
        font-weight: 300px;
      }
    }
  }
  .Learn-more {
    margin-top: 100px;
    .title {
      color: #ffffff;
      font-size: 48px;
    }
    .header-title {
      font-size: 12;
      color: #ffffff;
      margin-bottom: 14px;
    }
    .sub-title {
      margin-top: 32px;
      color: #ffffffa3;
      font-size: 24px;
      margin-bottom: 32px;
    }
    .Learn-more-item {
      border: 1px solid var(--primary-border-color);
      border-radius: 8px;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      cursor: pointer;
      margin-bottom: 16px;
      max-width: 90%;
      &:hover {
        background-color: var(--primary-background-color);
        .right {
          visibility: inherit;
        }
      }
      .left {
        display: flex;
        align-items: center;
        .Learn-more-item-content {
          margin-left: 16px;
          .name {
            font-size: 18px;
            color: white;
          }
          .sub-name {
            font-size: 12px;
            color: #ffffff7a;
          }
        }
      }
      .right {
        display: flex;
        align-items: center;
        visibility: hidden;
      }
    }
  }
}
@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1200px) {
  .TheGraph-wrapper
    .TheGraph-wrapper-content
    .image-background
    .image-background-content
    .text {
    font-size: 40px;
  }
}
